@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima_nova.eot');
    src: url('../fonts/proxima_nova.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proxima_nova.woff') format('woff'),
    url('../fonts/proxima_nova.ttf') format('truetype'),
    url('../fonts/proxima_nova.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 3%;
    font-size: 28px;
    line-height: 30px;
    font-family: "Proxima Nova",Verdana,sans-serif;
    font-style: normal;
    font-weight: 300;
}

a {
    color: #fff;
}

span {
    font-size: 16px;
}

input {
    border-color: #ccc;
    color: #929292;
    outline: none;
    font-style: normal;
    font-size: 14px;
    box-shadow: none !important;
    border-radius: 3px 0 0 3px !important;
}

.btn {
    border: none;
    font-size: 16px;
    padding: 7px 11px;
    white-space: normal;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default {
    color: #fff;
    background-color: #e56c00;
    border-color: #e56c00;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    color: #fff;
    background-color: #b25400;
    border-color: #a84f00;
}

.service-providers {
    background-color: #e56c00!important;
    grid-area: service-providers;
}

.grandma-app {
    background-color: #7db239;
    grid-area: grandma-app;
}


.wattapp {
    background-color: #7db239;
    grid-area: wattapp;
}

.grandma-app-data-flow {
    background-color: #919191;
    clip-path: polygon(0% 10%, 60% 10%, 60% 0%, 100% 50%, 60% 100%, 60% 90%, 0% 90%);
    grid-area: grandma-app-data-flow;
}

.wattapp-data-flow {
    background-color: #919191;
    clip-path: polygon(0% 10%, 60% 10%, 60% 0%, 100% 50%, 60% 100%, 60% 90%, 0% 90%);
    grid-area: wattapp-data-flow;
}

.data-provider {
    background-color: #7db239;
    grid-area: data-provider;
}

.prosumer {
    background-color: #7db239;
    grid-area: prosumer;
}

.header {
    grid-area: header;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 0.35fr 0.30fr 0.35fr;
    grid-template-rows: 0.30fr
                        0.10fr
                        0.15fr
                        0.15fr
                        0.30fr;
    grid-template-areas: "service-providers service-providers     service-providers"
                         "...               ...                   ..."
                         "data-provider     grandma-app-data-flow grandma-app"
                         "data-provider     wattapp-data-flow     wattapp"
                         "prosumer          prosumer              prosumer";
    background-color: #fff;
}

.box {
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.authorized {
    background-color: #e56c00;
}
