*.class
*.iml
*.jar
.hg/
.hgignore
.idea/
/.cljs_rhino_repl
/.lein-*
/.nrepl-port
/.tested
/checkouts
/classes
/figwheel_server.log
/generated
/resources/public/contracts/build
/resources/public/js
/sdb.db
/target
node_modules
combined.log
error.log
pom.xml
pom.xml.asc
profiles.clj
