/* Sass from https://codepen.io/stefanjudis/pen/gkHwJ compiled with
 * https://www.sassmeister.com/
 */

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 100;
  background-color: #eef0f1;
  background-size: 4px 4px;
}

body ul {
  list-style: none;
}

body ul, body li {
  margin: 0;
  padding: 0;
}

.chart {
  min-height: 350px;
  padding: 1em;
  text-align: center;
}

.chart-headline, .chart-sub-headline {
  text-align: center;
}

.chart-headline {
  position: relative;
  font-weight: 100;
  font-size: 28px;
  color: #002d75 !important;
  border-bottom: 2px solid #f57f17;
  display: inline-block;
  padding-bottom: 5px
}
.chart-headline:before {
  position: absolute;
  content: "";
  bottom: 133%;
  left: 50%;
  width: 25%;
  margin: 0 0 0 -12.5%;
  border-top: 1px dashed adjust-lightness(#333, 40);
}

.chart-sub-headline {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
}

.charts-container {
  /* background-color: #fff; */
  width: 100%;
}
@media screen and (min-width: 700px) {
  .charts-container {
    max-width: 700px;
    left: 50%;
    top: 10%;
    margin: 0 auto;
    /* box-shadow: 0 2em 2em #333; */
  }

  .receive-root,
  .receive-key {
    width: 29%;
  }
}

.charts-headline {
  text-align: center;
  color: #444;
  background-color: #fff;
  padding: 1em;
}

.line-chart-area {
  fill: url(#line-chart-gradient-background-area);
}

.line-chart-area-line {
  fill: none;
  stroke: #6bb7c7;
  stroke-width: 3;
}

.line-chart-bubble-label {
  fill: none;
  stroke: #6bb7c7;
  font-size: 12.6px;
  font-style: italic;
  font-weight: 100;
}

.line-chart-bubble-value {
  fill: #fff;
  stroke: #fff;
  font-size: 21px;
  font-weight: 100;
}

.line-chart-circle {
  fill: #6bb7c7;
  stroke: #fff;
  stroke-width: 3;
}

.line-chart-circle-highlighted {
  fill: #fff;
  stroke: adjust-lightness(#6bb7c7, -15);
}

.line-chart-gradient-background-area-top {
  stop-color: #6bb7c7;
  stop-opacity: 0.1;
}

.line-chart-gradient-background-area-bottom {
  stop-color: #6bb7c7;
  stop-opacity: 0.6;
}

.line-chart-svg {
  border: 2px solid #eee;
  padding: 0 20px;
  border-radius: 4px;
}

.line-chart-x-axis-ticks .domain, .line-chart-x-axis .domain, .line-chart-y-axis-ticks .domain, .line-chart-y-axis .domain {
  display: none;
}

.line-chart-x-axis .tick line, .line-chart-y-axis .tick line  {
  display: none;
}

.line-chart-x-axis-ticks .tick line, .line-chart-y-axis-ticks .tick line {
  fill: none;
  stroke: adjust-lightness(#333, 50);
  stroke-width: 1;
  stroke-dasharray: 2, 2;
}

/**
 * Helper classes
 */
.hidden {
  display: none;
}

.main-container {
  background: #fff;
  width: 80%;
  padding: 20px 20px 43px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: block;
  margin: 20px auto 30px;
}

#line-chart {
  text-align: center;
}

#noty_layout__bottom {
  width: 100%;
  display: flex;
  justify-content: center;
}

.noty_theme__mint.noty_bar .noty_body {
  padding: 10px 25px;
  letter-spacing: 0.8px;
}

#noty_layout__topRight .noty_theme__mint.noty_bar .noty_body {
  padding: 1px 20px;
}

.field-container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.field-element {
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 2px;
  background: #fafafa;
  outline: none;
  padding: 7px;
  margin-left: 10px;
  width: 90%;
}

.field-element:focus {
  background: #fff;
}

.request-btn {
  display: block;
  margin: auto;
  outline: none;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  background-color: #f57f17;
  border: none;
  border-radius: 2px;
  padding: 6px 25px;
  cursor: pointer;
}

.field-container .goal {
  align-self: center;
}

.receive-root,
.receive-key {
  margin: 6px auto;
  display: flex;
  align-self: center;
}

#root-text-box,
#side-key-text-box {
  margin-left: auto;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #c5c4c4;
}

@media screen and (max-width: 600px) {
  .main-container {
    width: 97%;
  }
}
